$buttonBlue: #1F75FF;
$red: #BB2327;
$black: #263238;
$white: #FFFFFF;
$gray: #DDDDDD;
$search: #455A64;
$border: #ECEDF2;
$borderBottom: #EDEDED;
$routeTitle:#263238;
$routeStt: #6A7A99;
$footerBg: #F7F8FB;
$green: #00E677;